.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures

/.idea
*.iml

app/src/main/java/org/fruct/oss/smarttrip/jni/
app/src/main/jni/TestLib_wrap.cxx
app/src/main/libs/                                                                                                                  
app/src/main/obj/
