[Unit]
Description=run weather_kp as service
Wants=network.target
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/weather_kp
ExecStop=kill -TERM $(cat /var/run/weather_kp.pid)
Restart=on-abort
PIDFile=/var/run/weather_kp.pid
Restart=always

[Install]
WantedBy=multi-user.target
